body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.position-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.position-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.position-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.position-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ui-players{
    width: 200px;
    height: 200px;
}

.ui-gameInfo{
    width: 200px;
    height: 200px;
}

.ui-gameMap{
    width: 200px;
    height: 200px;
}

.ui-turnInfo{
    width: 200px;
    height: 200px;
}