:root{
    --color-primary: #f1c40f;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.position-top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.position-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.position-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.position-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ui-players{
    z-index: 3;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid var(--color-primary);
}

.ui-gameInfo{
    width: 200px;
    height: 200px;
    z-index: 3;
}

.ui-gameMap{
    width: 200px;
    height: 200px;
    z-index: 3;
}

.ui-turnInfo{
    width: 200px;
    height: 200px;
    z-index: 3;
}